Source: ros-noetic-dual-quaternions-ros
Section: misc
Priority: optional
Maintainer: achille <achille.verheye@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-dual-quaternions-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-dual-quaternions, ros-noetic-geometry-msgs, ros-noetic-rospy
Description: ROS msgs from and to dual quaternions
