Source: ros-kinetic-dual-quaternions-ros
Section: misc
Priority: optional
Maintainer: achille <achille.verheye@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-dual-quaternions-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-dual-quaternions, ros-kinetic-geometry-msgs, ros-kinetic-rospy
Description: ROS msgs from and to dual quaternions
